<form>
  <div class="form-row row col-md-8">
    <div class="form-group  col-md-4">
      <label for="host_name">Hostname:</label>
      <input type="text" class="form-control" id="host_name" placeholder="Host Name" [appCustomvalidation]="'hostvalidate'">
    </div>
    <div class="form-group col-md-4">
      <label for="ip_address">Loopback:</label>
      <input type="text" class="form-control" pattern="^([0-9]{1,3}\.){3}[0-9]{1,3}$" id="ip_address" placeholder="Ip Address" data-valid-example="192.168.1.1">
    </div>
    <div class="form-group col-md-4 row align-items-end mx-auto">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </div>
</form>
