<div class="infinity-container">
  <header>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
      <img src="./assets/logo1.png" width="100px">
      </a>
    </nav>
  </header>
  <div class="main-content container">
    <app-deviceinput></app-deviceinput>
    <app-devicelisting></app-devicelisting>
  </div>
  <footer>
      <nav class="navbar navbar-light bg-light">
          <span class="navbar-text">
              Site Design / logo © 2018 Infinity Labs; 
          </span>
        </nav>
  </footer>
</div>