.infinity-container{
    display: flex;
    height:100vh;
    flex-direction: column;
}
header,footer{
    flex: 0 0 auto;
    background-color: #dcdcdc;
}
.main-content{
  flex: 1 1 auto;
  padding:10px;
  position: relative;
}